In [14]:
import pandas as pd

df = pd.read_csv("../data/Order/original/yellow_tripdata_2016-06.csv")

In [19]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RatecodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount'],
      dtype='object')

In [20]:
USE_COLUMNS = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime",
    "pickup_longitude",
    "pickup_latitude",
    "dropoff_longitude",
    "dropoff_latitude",
]
RENAME_DICT = {
    "tpep_pickup_datetime": "Start_time",
    "tpep_dropoff_datetime": "End_time",
    "pickup_longitude": "PointS_Longitude",
    "pickup_latitude": "PointS_Latitude",
    "dropoff_longitude": "PointE_Longitude",
    "dropoff_latitude": "PointE_Latitude",
}

In [21]:
len(df)

11135470

In [29]:
rename_df = df[USE_COLUMNS].rename(columns=RENAME_DICT).sort_values("Start_time").reset_index(drop=True)
rename_df.head()

,Start_time,End_time,PointS_Longitude,PointS_Latitude,PointE_Longitude,PointE_Latitude
0,2016-06-01 00:00:00,2016-06-01 00:00:00,-73.997505,40.725487,-73.997742,40.744919
1,2016-06-01 00:00:00,2016-06-01 00:14:11,-73.972916,40.754993,-73.992264,40.725243
2,2016-06-01 00:00:00,2016-06-01 00:15:25,-73.962227,40.760635,-73.922287,40.827213
3,2016-06-01 00:00:00,2016-06-01 00:07:41,-74.008446,40.706024,-74.013390,40.709644
4,2016-06-01 00:00:01,2016-06-01 00:03:00,-73.976189,40.775909,-73.982300,40.767860

In [39]:
from datetime import datetime, timedelta

rename_df["Start_time"] = rename_df["Start_time"].apply(
    lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S")
)

In [52]:
start_date = datetime(year=2016, month=6, day=1)
while True:
    next_date = start_date + timedelta(days=1)
    tmp_df = rename_df[(rename_df["Start_time"]<next_date) & (rename_df["Start_time"]>start_date)]
    tmp_df.to_csv(
        f"../data/Order/modified/order_2016{start_date.month}{str(start_date.day).zfill(2)}.csv",
        index=False
    )
    start_date = next_date
    if start_date.month != 6:
        break